:root {
  --primary-color: #2596be;
  --secondary-color: #eeeee4;
  --call-to-action: #e28743;
}
body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
div {
  width: 100px;
  height: 100px;
}

.primary {
  /* --primary-color: #2596be; */
  /* --secondary-color: #eeeee4; */
  background-color: var(--primary-color);
}
.primary-two {
  background-color: var(--primary-color);
}
.primary-child {
  width: 50px;
  height: 50px;
  margin: 25px;

  background-color: var(--secondary-color);
}

.secondary {
  background-color: var(--secondary-color);
}
.secondary-two {
  background-color: var(--secondary-color);
}
.call-to-action {
  background-color: var(--call-to-action);
}

.call-to-action-two {
  background-color: var(--call-to-action);
}
