body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scoll_container {
  display: flex;
  flex-direction: row;
  width: 20vh;
  height: 20vh;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

.scoll_container div {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  color: white;
  font-size: 2rem;
  scroll-snap-align: start;
}
