body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 0 3px 6px black;
  text-align: center;
}

p {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  max-width: 600px;
  line-height: 2;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}
.parallax {
}

.content {
}
