body {
  font-family: Arial, sans-serif;
}
header {
  background-color: #433d3d;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
nav {
  padding: 1rem;
  border-bottom: 3px solid #1e7a21;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  color: #1e7a21;
  font-size: 1.5rem;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  /* trade below out for different filters */
  backdrop-filter: invert(30%);
}

@media (prefers-color-scheme: dark) {
  body,
  header {
    background-color: black;
    color: #e0e0e0;
  }

  nav {
    border-bottom: 3px solid #e0e0e0;
  }

  li {
    color: #e0e0e0;
  }
}
